<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kampungpedia.android">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <application
        android:name=".App"
        android:supportsRtl="true"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.kampungpedia.android.ui.page.login.LoginActivity"
            android:exported="false" />
        <activity
            android:name="com.kampungpedia.android.ui.page.scanner.ScanActivity"
            android:exported="false" />
<!--        <activity-->
<!--            android:name=".ui.page.main.MainActivity"-->
<!--            android:exported="false" />-->
        <activity
            android:name="com.kampungpedia.android.ui.page.main.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.page.ContentActivity" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>
</manifest> 